.single-review-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    color: aliceblue;
}
.img-review {
    height: 30rem;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
    transition: 200ms;
}

.img-review:hover {
    cursor: pointer;
    transition: 200ms;
    transform: scale(102%);
    box-shadow: 0px 0px 10px 5px brown;
}
.container-review-contenido {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin: 5%;
    gap: 1%;
    width: 90%;
    border-radius: 20px;
    padding-right: 2%;
    padding: 1%;
    background-image: url('../../../assets/review-page-background.png');
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255, 0.5);
}

.review-titulo {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.review-categoria {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
.category-star-container {
    display: flex;
    flex-direction: row;
    gap: 1%;
    align-items: center;
    margin-bottom: 1%;
}

.texto-review {
    white-space: pre-line;
    font-size: 1.15rem;
    margin-top: 2%;
}

.otherImages-img {
    width: 300px;
    border-radius: 5px;
    transition: 200ms;
    align-self: center;
    box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
}

.otherImages-img:hover {
    transform: scale(105%);
    transition: 150ms;
    box-shadow: 0px 0px 10px 1px brown;
    cursor: pointer;
}

.otherImages-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 5%;
    margin-bottom: 2%;
}

.otherImages-div  {
    margin-top: 2%;
}