.single-review-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    color: aliceblue;
    margin-top: 85px;
}
.img-review {
    max-width: 20vw;
    height: min-content;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
    transition: 200ms;
}

.img-review:hover {
    cursor: pointer;
    transition: 200ms;
    transform: scale(102%);
    box-shadow: 0px 0px 10px 5px brown;
}
.container-review-contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: baseline;
    margin: 5%;
    margin-top: 1%;
    gap: 2%;
    min-width: 800px;
    max-width: auto;
    border-radius: 20px;
    padding: 1%;
    background-image: url('../../../assets/review-page-background.png');
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255, 0.5);
}

.review-titulo {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.review-categoria {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
.category-star-container {
    display: flex;
    flex-direction: row;
    gap: 1%;
    align-items: center;
    margin-bottom: 1%;
}

.texto-review {
    white-space: pre-line;
    font-size: 1.15rem;
    margin-top: 2%;
}

.otherImages-img {
    max-width: auto;
    max-height: 15rem;
    border-radius: 5px;
    transition: 200ms;
    align-self: center;
    box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
}

.otherImages-img:hover {
    transform: scale(105%);
    transition: 150ms;
    box-shadow: 0px 0px 10px 1px brown;
    cursor: pointer;
}

.otherImages-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 25px;
    margin-bottom: 2%;
    align-content: center;
}

.otherImages-div  {
    margin-top: 2%;
}
.backArrow-review-page {
    color: aliceblue;
    align-self: baseline;
    padding-left: 3.1rem;
}

.backArrow-review-page:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .single-review-page-container {
        margin-top: 4.5em;
    }
    .container-review-contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 300px;
        padding-left: 2%;
    }
    .review-titulo {
        font-size: 1.8rem;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    .texto-review {
        white-space: pre-line;
        font-size: 1rem;
    }
    .review-categoria {
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
    }
    .category-star-container {
        display: flex;
        flex-direction: column;
        gap: 4%;
        align-items: baseline;
        margin-bottom: 1%;
        margin-left: 5;
    }
    .otherImages-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        gap: 25px;
        margin-bottom: 2%;
        align-content: center;
    }
    .backArrow-review-page {
        padding-left: 1rem;
    }
}

@media (max-width: 600px) {
    .single-review-page-container {
        margin-top: 4.5em;
    }
    .container-review-contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 300px;
        padding: 3%;
    }
    .review-titulo {
        font-size: 1.8rem;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
    .texto-review {
        white-space: pre-line;
        font-size: 1rem;
        margin-top: 5%;
    }
    .review-categoria {
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
    }
    .img-review {
        max-width: 60vw;
        height: min-content;
        margin: 0%;
        margin: 10px;
    }

    .otherImages-img {
        align-self: center;
        justify-self: center;
    }
    .otherImages-container {
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
        gap: 25px;
        margin-bottom: 2%;
        align-items: center;
        justify-content: center;
    }
    .category-star-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 3%;
    }
    .backArrow-review-page {
        padding-left: 1rem;
    }
}