.favs-container {
    margin-top: 90px;
    width: 100%;
    padding: 1%;
    text-align: center;
}

.container-fav-cards {
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.imgen-fav {
    width: 200px;
    border-radius: 5px;
    align-self: center;
    box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
    transition: 200ms;
}

.texto-titulo {
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
}

.container-individual-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 24rem;
    margin-bottom: 5%;
    transition: 200ms;
}

.container-individual-card:hover {
    transition: 200ms;
    transform: scale(105%);
    cursor: pointer;
}

.container-individual-card:hover img {
    box-shadow: 0px 0px 5px 3px rgb(216, 7, 7);
}