.favs-container {
    margin-top: 90px;
    width: 100vw;
    text-align: center;
}

.container-fav-cards {
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.imagen-fav-prueba {
    width: 200px;
    border-radius: 5px;
    align-self: center;
    box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
    transition: 200ms;
}

.texto-titulo {
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
}

.texto-titulo:hover {
    text-decoration: underline;
    cursor: pointer;
}

.container-individual-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 24rem;
    margin-bottom: 5%;
    transition: 200ms;
}


.imagen-fav-prueba:hover {
    transform: scale(102%);
    box-shadow: 0px 0px 5px 3px rgb(216, 7, 7);
    cursor: pointer;
}
@media(max-width: 1000px) {
    .favs-container {
        margin-top: 90px;
        width: auto;
        text-align: center;
    }
    .container-fav-cards {
        grid-template-columns: auto auto auto auto;
        align-items: baseline;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }
    .container-individual-card {
        width: 20vw;
    }
    .texto-titulo {
        font-size: 2.3vw;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .imagen-fav-prueba {
        margin-bottom: 3%;
        height: 20vw;
        width: fit-content;
    }
    .MuiRating-sizeMedium {
        scale: 0.70;
    }
}

@media(max-width: 600px) {
    .container-fav-cards {
        grid-template-columns: auto auto;
        align-items: baseline;
    }
    .container-individual-card {
        width: 38vw;
        height: fit-content;
        margin-bottom: 8vw;
    }
    .texto-titulo {
        font-size: 3.5vw;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
    .imagen-fav-prueba {
        margin-bottom: 3%;
        height: 40vw;
    }
    .MuiRating-sizeMedium {
        scale: 1;
    }
}