@import "tailwindcss";

@layer base {
  /* Fondo real */
  body {
    background-image: url('../assets/background-img.png');
  }

  /* Capa de blur transparente */
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(3px);
  }
}


