.navbar {
    display: flex;
    align-items: center;
    background-image: url('../assets/double-bubble-dark.png');
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 100;
}

.p-divider.p-divider-vertical {
    width: 2px;
    min-width: 2px !important;
    border-radius: 100%;
    border-color: rgb(255, 255, 255,0.4);
    border-width: 1px;
}

.container-botones {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: auto;
}

.container-boton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
}

.button-navegar {
    padding: 10%;
    padding-left: 18%;
    padding-right: 18%;
    transition: 500ms;
    color: aliceblue;
    border-radius: 20px;
    min-height: fit-content;
}

.button-navegar:hover {
    background-color: rgb(165, 42, 42, 0.9);
    box-shadow: 0px 0px 15px 1px  rgb(255, 255, 255);
    transition: 500ms;
    cursor: pointer;
}