.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    color: #ff0000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 100;
}