.container {
    display: flex;
    background-image: url('../assets/review-card-background.jpg');
    background-size: 100% 300%;
    border-radius: 10px;
    max-width: 1300px;
    margin-bottom: 2%;
    border-color: aliceblue;
    border-width: 1px;
    transition: 200ms;
    max-height: 13rem;
}

.container:hover {
    transform: scale(101%);
    transition: 200ms;
    cursor: pointer;
}

.title {
    font-size: x-large;
    padding-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: aliceblue;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.text {
    color: aliceblue;
    margin-bottom: 1%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.img {
    margin: 12px;
    border-radius: 10px;
    max-height: 160px;
    align-self: center;
    margin-right: 1%;
}

.p-rating{
    color: rgb(206, 29, 29);
    padding-top: 1%;
    padding-bottom: 1%;
}

.star-container{
    display: flex;
    align-items: center;
}

.category {
    font-style: italic;
    color: aliceblue;
    padding-right: 10px;
}

@media (max-width: 600px) {
    .container {
        width: auto;
    }
    .img {
        margin: 12px;
        border-radius: 10px;
        max-height: 100px;
        align-self: center;
        margin-right: 10px;
    }

    .text {
        color: aliceblue;
        margin-bottom: 1%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        font-size: small;
    }

    .title {
        font-size: large;
        padding-top: 1%;
        font-family: 'Times New Roman', Times, serif;
        font-style: oblique;
        color: aliceblue;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    .category {
        font-size: 0.9rem;
    }
}