input, form, textarea {
    border-color: rgb(218, 220, 223);
    outline: none; outline: none; 
}

input:hover, form:hover, textarea:hover {
    border-color: rgb(106, 159, 240);
    transition: 100ms;
}

input:focus, textarea:focus {
    border-color: rgb(66, 133, 244);
    box-shadow: 0 0 0px 3px rgba(85, 144, 238, 0.267); /* glow azul */
    transition: 100ms;
}

.container-new-review-form {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 110px;
    width: 100%;
}

.new-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55vh;
}

.imagen-preview {
    height: 180px;
    max-width: 37vh;
    break-inside: avoid;
    border-radius: 10px;
    transition: 200ms;
    margin-left: 2%;
    margin-top: 2%;
}
.imagen-preview:hover {
    transform: scale(101%);
    transition: 200ms;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px white;
}

.otherImages-preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}