.cargandoContainer {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: xx-large;
}

.color-circular {
    justify-content: center;
    margin-right: 1%;
    color: brown;
    display: flex;
    align-self: center;
}

.no-reviews {
    color: aliceblue;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 83.6%;
}

.no-reviews-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    align-self: center;
    padding-left: 4%;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
    margin-top: 85px;
    padding-left: 2%;
    padding-right: 2%;
}

.container-cards {
    min-width: 40rem;
}

.titulo-reviews {
    color: aliceblue;
    font-size: 3rem;
    font-family: serif;
    margin-bottom: 1rem;
    padding-left: 2rem;
    align-self: baseline;
}

.filter-card-container {
    display: flex;
    gap: rem;
}

.filter-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: black;
}

.buttonFilter {
    background-image: url('../../assets/button-background.png');
    border-radius: 10px;
    width: 10rem;
    font-size: large;
    margin: 10px;
    margin-right: 0px;
    height:2.3rem;
    transition: 500ms;
}

.buttonFilter:hover {
    transform: scale(115%);
    transition: 400ms;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px brown;
}

.buttonFilter.active {
    background-image: url('../../assets/boton-filtro-seleccionado.jpg');
    color: white;
    transition: 500ms;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
    cursor: auto;
}

