.cargandoContainer {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: xx-large;
}

.color-circular {
    justify-content: center;
    margin-right: 1%;
    color: brown;
    display: flex;
    align-self: center;
}

.no-reviews {
    color: aliceblue;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 83.6%;
}

.no-reviews-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    align-self: center;
    padding-left: 4%;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    margin-top: 85px;
    padding-left: 2%;
    padding-right: 2%;
}

.container-cards {
    min-width: 40rem;
}

.titulo-reviews {
    color: aliceblue;
    font-size: 3rem;
    font-family: serif;
    margin-bottom: 1rem;
    padding-left: 7rem;
    align-self: baseline;
}

.filter-card-container {
    display: flex;
    gap: 1rem;
}

.filter-container {
    display: flex;
    flex-direction: column;
    color: black;
}

.buttonFilter {
    background-image: url('../../assets/button-background.png');
    border-radius: 10px;
    width: 10rem;
    font-size: large;
    margin: 10px;
    margin-right: 0px;
    height:2.3rem;
    transition: 500ms;
}

.buttonFilter:hover {
    transform: scale(115%);
    transition: 400ms;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px brown;
}

.buttonFilter.active {
    background-image: url('../../assets/boton-filtro-seleccionado.jpg');
    color: white;
    transition: 500ms;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
    cursor: auto;
}
.backArrow {
    color: aliceblue;
    align-self: baseline;
    padding-left: 7rem;
}

.backArrow:hover {
    text-decoration: underline;
    cursor: pointer;
}
.MuiRating-sizeMedium {
    scale: 1;
}
@media (max-width: 1024px) {
    .page-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 10vh;
        margin-top: 85px;
        padding: 0%;
        margin: 20px;
        margin-top: 85px;
        width: auto;
    }   
    .no-reviews {
        color: aliceblue;
        font-size: xx-large;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        gap: 10vh;
    }
    .filter-container {
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        gap: 3vw;
        margin: 0%;
        padding: 0px;
    }
    .titulo-reviews {
        font-size: xx-large;
        align-self: center;
        padding: 0px;
    }
    .buttonFilter {
        width: 15%;
        min-width: 80px;
        font-size: small;
        margin: 0px
    }
    .filter-card-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }
    .container-cards {
        min-width: auto;
    }
    .backArrow {
        align-self: flex-start;
        padding-left: 0rem;
    }
}

